<a href="https://colab.research.google.com/github/Sakshithreddy2004/LMS-Assignments/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index. Try  with different examples

In [1]:
## LIST


my_list = ["apple", "banana", "cherry", "date", "elderberry"]


print(my_list[0])
print(my_list[2])
print(my_list[-1])

apple
cherry
elderberry

In [5]:
# Tuple


my_tuple = ("apple", "banana", "cherry", "date", "elderberry")


print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[-2])

apple
banana
date

In [6]:
#  a dictionary with 5 elements
my_dict = {"name": "Alice", "age": 30, "city": "New York", "country": "USA", "occupation": "Engineer"}


print(my_dict["name"])
print(my_dict["age"])

Alice
30